.u-section-1 {
  background-image: linear-gradient(#9933ff, #bf80ff);
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-text-1 {
  margin: 296px auto 0 0;
}

.u-section-1 .u-text-2 {
  margin: 60px 519px 0 0;
}

.u-section-1 .u-image-1 {
  width: 43px;
  height: 79px;
  margin: -332px 192px 0 auto;
}

.u-section-1 .u-image-2 {
  width: 43px;
  height: 79px;
  margin: -6px 322px 0 auto;
}

.u-section-1 .u-image-3 {
  width: 43px;
  height: 79px;
  margin: -143px 89px 0 auto;
}

.u-section-1 .u-image-4 {
  width: 43px;
  height: 79px;
  margin: -55px -43px 0 auto;
}

.u-section-1 .u-image-5 {
  width: 341px;
  height: 341px;
  margin: -44px 24px 0 auto;
}

.u-section-1 .u-image-6 {
  width: 201px;
  height: 146px;
  margin: -370px -36px 147px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 890px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: 403px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -330px;
    margin-right: 190px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -40px;
  }

  .u-section-1 .u-image-3 {
    margin-top: -108px;
    margin-right: 87px;
  }

  .u-section-1 .u-image-4 {
    margin-top: -60px;
    margin-right: -22px;
  }

  .u-section-1 .u-image-5 {
    margin-top: -69px;
  }

  .u-section-1 .u-image-6 {
    margin-top: -319px;
    margin-right: -21px;
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    margin-right: 183px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    margin-right: 3px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 889px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-image-2 {
    margin-right: 297px;
  }

  .u-section-1 .u-image-5 {
    width: 340px;
    height: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-image-6 {
    margin-top: -318px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-2 .u-text-1 {
  margin: 57px auto 0;
}

.u-section-2 .u-gallery-1 {
  height: 372px;
  margin-top: 109px;
  margin-bottom: 60px;
  grid-gap: 17px 17px;
  background-image: none;
}

.u-section-2 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto;
  grid-gap: 17px 17px;
}

.u-section-2 .u-gallery-item-1 {
  box-shadow: 0px 5px 13px 0px rgba(128,128,128,1);
}

.u-section-2 .u-back-slide-1 {
  transition-duration: 0.5s;
}

.u-section-2 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(64,64,64,0.8), rgba(64,64,64,0.8));
  padding: 20px;
}

.u-section-2 .u-gallery-item-2 {
  box-shadow: 0px 5px 13px 0px rgba(128,128,128,1);
}

.u-section-2 .u-back-slide-2 {
  transition-duration: 0.5s;
}

.u-section-2 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(64,64,64,0.8), rgba(64,64,64,0.8));
  padding: 20px;
}

.u-section-2 .u-gallery-item-3 {
  box-shadow: 0px 5px 13px 0px rgba(128,128,128,1);
}

.u-section-2 .u-back-slide-3 {
  transition-duration: 0.5s;
}

.u-section-2 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(64,64,64,0.8), rgba(64,64,64,0.8));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-gallery-1 {
    margin-bottom: 0;
    height: 306px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(3, auto);
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1000px;
  }

  .u-section-2 .u-gallery-1 {
    height: 703px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1880px;
  }

  .u-section-2 .u-gallery-1 {
    height: 1582px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1290px;
  }

  .u-section-2 .u-gallery-1 {
    height: 996px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-3 .u-text-1 {
  font-weight: normal;
  margin: 79px auto 0;
}

.u-section-3 .u-slider-1 {
  min-height: 630px;
  margin-bottom: 60px;
  margin-top: -26px;
}

.u-section-3 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 25px;
}

.u-section-3 .u-text-2 {
  background-image: none;
  margin: 89px 73px 0 auto;
}

.u-section-3 .u-text-3 {
  margin: 13px 69px 0 515px;
}

.u-section-3 .u-image-1 {
  width: 467px;
  height: 293px;
  margin: -307px auto 14px 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 39px;
}

.u-section-3 .u-text-4 {
  margin: 82px 259px 0 auto;
}

.u-section-3 .u-text-5 {
  margin: 13px 61px 0 495px;
}

.u-section-3 .u-image-2 {
  width: 467px;
  height: 293px;
  margin: -301px auto 0 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 39px;
}

.u-section-3 .u-text-6 {
  margin: 88px 367px 0 auto;
}

.u-section-3 .u-text-7 {
  margin: 13px 54px 0 502px;
}

.u-section-3 .u-image-3 {
  width: 467px;
  height: 293px;
  margin: -307px auto 0 0;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px 39px;
}

.u-section-3 .u-text-8 {
  margin: 86px 308px 0 auto;
}

.u-section-3 .u-text-9 {
  margin: 17px 54px 0 502px;
}

.u-section-3 .u-image-4 {
  width: 467px;
  height: 293px;
  margin: -256px auto 0 0;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px 39px;
}

.u-section-3 .u-text-10 {
  margin: 83px 70px 0 auto;
}

.u-section-3 .u-text-11 {
  margin: 18px 54px 0 502px;
}

.u-section-3 .u-image-5 {
  width: 467px;
  height: 293px;
  margin: -281px auto 0 0;
}

.u-section-3 .u-carousel-control-1 {
  width: 60px;
  height: 60px;
  left: -15px;
  position: absolute;
  background-image: none;
  right: auto;
}

.u-section-3 .u-carousel-control-2 {
  width: 60px;
  height: 60px;
  background-image: none;
  left: auto;
  right: -9px;
  position: absolute;
}

@media (max-width: 1199px) {
  .u-section-3 .u-slider-1 {
    margin-top: 20px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
    margin-left: 384px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 384px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 0;
    margin-left: 356px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 298px;
  }

  .u-section-3 .u-text-7 {
    margin-right: 0;
    margin-left: 356px;
  }

  .u-section-3 .u-text-8 {
    margin-right: 250px;
  }

  .u-section-3 .u-text-9 {
    margin-right: 0;
    margin-left: 356px;
  }

  .u-section-3 .u-text-11 {
    margin-right: 0;
    margin-left: 356px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-3 {
    margin-left: 164px;
  }

  .u-section-3 .u-image-1 {
    margin-left: 164px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 198px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 154px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 228px;
  }

  .u-section-3 .u-text-7 {
    margin-left: 154px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-text-8 {
    margin-right: 191px;
  }

  .u-section-3 .u-text-9 {
    margin-left: 154px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-text-11 {
    margin-left: 154px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 14px;
  }

  .u-section-3 .u-image-1 {
    margin-left: 14px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 156px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 14px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 180px;
  }

  .u-section-3 .u-text-7 {
    margin-left: 14px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-8 {
    margin-right: 150px;
  }

  .u-section-3 .u-text-9 {
    margin-left: 14px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-11 {
    margin-left: 14px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-slider-1 {
    min-height: 538px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
  }

  .u-section-3 .u-image-1 {
    width: 320px;
    height: 201px;
    margin-left: 0;
  }

  .u-section-3 .u-text-4 {
    margin-right: 96px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 0;
  }

  .u-section-3 .u-image-2 {
    width: 320px;
    height: 201px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 111px;
  }

  .u-section-3 .u-text-7 {
    margin-left: 0;
  }

  .u-section-3 .u-image-3 {
    width: 320px;
    height: 201px;
  }

  .u-section-3 .u-text-8 {
    margin-right: 92px;
  }

  .u-section-3 .u-text-9 {
    margin-left: 0;
  }

  .u-section-3 .u-image-4 {
    width: 320px;
    height: 201px;
  }

  .u-section-3 .u-text-11 {
    margin-left: 0;
  }

  .u-section-3 .u-image-5 {
    width: 320px;
    height: 201px;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 870px;
}

.u-section-4 .u-text-1 {
  margin: 112px 0 0;
}

.u-section-4 .u-image-1 {
  width: 570px;
  height: 391px;
  margin: 45px auto 0 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.25rem;
  margin: -255px -80px 60px 601px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-4 .u-image-1 {
    width: 470px;
    height: 322px;
    margin-top: 399px;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 177px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-2 {
    margin-top: 129px;
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-image-1 {
    margin-top: 483px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 113px;
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 712px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 233px;
    margin-top: 539px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 40px;
  }
}h1.judul-hoaks {
	font-family: 'Orbitron', sans-serif;
}
/*
.fake-news-bubble {
	transform-origin : -100% 50%;
	animation : zoomzoom 1.5s infinite ease-in-out;
}
@keyframes zoomzoom {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(1);
	}
}*/
.dollar-sign-animation {
    animation-name: slide-up-opacity;
	animation-iteration-count : infinite;
    position: relative;
}
.dollar-sign-animation.anim1 {
	animation-duration : 2s;
}
.dollar-sign-animation.anim2 {
	animation-duration : 1.7s;
}
.dollar-sign-animation.anim3 {
	animation-duration : 1.8s;
}
.dollar-sign-animation.anim4 {
	animation-duration : 1.6s;
}
@keyframes slide-up-opacity {
    0% {
        opacity: 0;
        bottom: 0px;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        bottom: 200px;
    }
} 