.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("images/background.png?rand=8eda");
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-text-1 {
  margin: 317px auto 0;
}

.u-section-1 .u-text-2 {
  width: 826px;
  margin: 16px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 {
    background-position: 50% 50%;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-2 {
    width: 340px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-2 .u-text-1 {
  margin: 104px auto 0;
}

.u-section-2 .u-list-1 {
  margin-top: 136px;
  margin-bottom: 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(25% - 34.5px) calc(25% - 34.5px) calc(25% - 34.5px) calc(25% - 34.5px);
  grid-gap: 46px 46px;
  min-height: 253px;
  margin-top: 0;
}

.u-section-2 .u-list-item-1 {
  animation-duration: 500ms;
  box-shadow: 0 2px 8px 0 rgba(128,128,128,1);
}

.u-section-2 .u-container-layout-1 {
  padding: 23px 30px;
}

.u-section-2 .u-icon-1 {
  height: 48px;
  width: 48px;
  background-image: none;
  color: rgb(0, 0, 0) !important;
  margin: 16px auto 0;
}

.u-section-2 .u-text-2 {
  margin: 27px auto 0;
}

.u-section-2 .u-text-3 {
  margin: 11px auto 0;
}

.u-section-2 .u-list-item-2 {
  animation-duration: 500ms;
  box-shadow: 0 2px 8px 0 rgba(128,128,128,1);
}

.u-section-2 .u-container-layout-2 {
  padding: 23px 30px;
}

.u-section-2 .u-icon-2 {
  height: 48px;
  width: 48px;
  background-image: none;
  color: rgb(17, 17, 17) !important;
  margin: 16px auto 0;
}

.u-section-2 .u-text-4 {
  margin: 27px auto 0;
}

.u-section-2 .u-text-5 {
  margin: 11px auto 0;
}

.u-section-2 .u-list-item-3 {
  animation-duration: 500ms;
  box-shadow: 0 2px 8px 0 rgba(128,128,128,1);
}

.u-section-2 .u-container-layout-3 {
  padding: 23px 30px;
}

.u-section-2 .u-icon-3 {
  height: 48px;
  width: 48px;
  background-image: none;
  color: rgb(0, 0, 0) !important;
  margin: 16px auto 0;
}

.u-section-2 .u-text-6 {
  margin: 27px auto 0;
}

.u-section-2 .u-text-7 {
  margin: 11px auto 0;
}

.u-section-2 .u-list-item-4 {
  animation-duration: 500ms;
  box-shadow: 0 2px 8px 0 rgba(128,128,128,1);
}

.u-section-2 .u-container-layout-4 {
  padding: 23px 30px;
}

.u-section-2 .u-icon-4 {
  height: 48px;
  width: 48px;
  background-image: none;
  margin: 16px auto 0;
}

.u-section-2 .u-text-8 {
  margin: 27px auto 0;
}

.u-section-2 .u-text-9 {
  margin: 11px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(4, calc(25% - 34.5px));
    min-height: 209px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 23px));
    min-height: 640px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-3 .u-text-1 {
  margin: 119px auto 0;
}

.u-section-3 .u-list-1 {
  grid-template-rows: auto;
  width: 1140px;
  margin: 90px auto 60px -11px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px);
  min-height: 315px;
  grid-gap: 10px 10px;
}

.u-section-3 .u-list-item-1 {
  animation-duration: 1000ms;
}

.u-section-3 .u-container-layout-1 {
  padding: 17px 30px;
}

.u-section-3 .u-icon-1 {
  height: 107px;
  width: 107px;
  background-image: none;
  margin: 0 auto;
}

.u-section-3 .u-text-2 {
  margin: 11px auto 0;
}

.u-section-3 .u-text-3 {
  margin: 11px 1px 0;
}

.u-section-3 .u-list-item-2 {
  animation-duration: 1000ms;
}

.u-section-3 .u-container-layout-2 {
  padding: 17px 30px;
}

.u-section-3 .u-icon-2 {
  height: 107px;
  width: 107px;
  background-image: none;
  margin: 0 auto;
}

.u-section-3 .u-text-4 {
  margin: 11px auto 0;
}

.u-section-3 .u-text-5 {
  margin: 11px 1px 0;
}

.u-section-3 .u-list-item-3 {
  animation-duration: 1000ms;
}

.u-section-3 .u-container-layout-3 {
  padding: 17px 30px;
}

.u-section-3 .u-icon-3 {
  height: 120px;
  width: 107px;
  background-image: none;
  margin: 0 auto;
}

.u-section-3 .u-text-6 {
  margin: 11px auto 0;
}

.u-section-3 .u-text-7 {
  margin: 11px 1px 0;
}

.u-section-3 .u-list-item-4 {
  animation-duration: 1000ms;
}

.u-section-3 .u-container-layout-4 {
  padding: 17px 30px;
}

.u-section-3 .u-icon-4 {
  height: 107px;
  width: 107px;
  background-image: none;
  margin: 0 auto;
}

.u-section-3 .u-text-8 {
  margin: 11px auto 0;
}

.u-section-3 .u-text-9 {
  margin: 11px 1px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 484px;
  }

  .u-section-3 .u-list-1 {
    height: auto;
    width: 940px;
    margin-left: 0;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
    min-height: 260px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-7 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-9 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 820px;
  }

  .u-section-3 .u-list-1 {
    width: 720px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 797px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-list-1 {
    width: 540px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-list-1 {
    width: 340px;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-4 .u-text-1 {
  margin: 64px auto 0 480px;
}

.u-section-4 .u-list-1 {
  width: 740px;
  margin: 97px auto 60px;
}

.u-section-4 .u-repeater-1 {
  grid-gap: 100px 100px;
  grid-template-columns: calc(50% - 50px) calc(50% - 50px);
  min-height: 400px;
}

.u-section-4 .u-list-item-1 {
  background-image: none;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
}

.u-section-4 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-4 .u-image-1 {
  width: 130px;
  height: 130px;
  object-position: 50% 0%;
  background-image: url("images/rafi-kontingen.jpg");
  background-position: 50% 19.94%;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  margin: 10px auto 0;
}

.u-section-4 .u-text-2 {
  margin: 30px 0 0;
}

.u-section-4 .u-text-3 {
  margin: 12px 0 0;
}

.u-section-4 .u-image-2 {
  width: 40px;
  height: 40px;
  background-image: url("images/whatsapp-logo.png");
  background-position: 50% 50%;
  animation-duration: 1000ms;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  margin: 7px auto 0 40px;
}

.u-section-4 .u-image-3 {
  width: 40px;
  height: 40px;
  background-image: url("images/instagram-logo.png");
  background-position: 50% 50%;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  margin: -40px 40px 0 auto;
}

.u-section-4 .u-list-item-2 {
  background-image: none;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
}

.u-section-4 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-4 .u-image-4 {
  width: 130px;
  height: 130px;
  background-image: url("images/Pramuka-yusuf.png");
  background-position: 50% 34.62%;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  margin: 10px auto 0;
}

.u-section-4 .u-text-4 {
  margin: 30px 0 0;
}

.u-section-4 .u-text-5 {
  margin: 12px 0 0;
}

.u-section-4 .u-image-5 {
  width: 40px;
  height: 40px;
  background-image: url("images/whatsapp-logo.png");
  background-position: 50% 50%;
  animation-duration: 1000ms;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  margin: 7px auto 0 40px;
}

.u-section-4 .u-image-6 {
  width: 40px;
  height: 40px;
  background-image: url("images/instagram-logo.png");
  background-position: 50% 50%;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  margin: -40px 40px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-left: 396px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-left: 303px;
  }

  .u-section-4 .u-list-1 {
    width: 720px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    margin-left: 227px;
  }

  .u-section-4 .u-list-1 {
    width: 540px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    margin-left: auto;
  }

  .u-section-4 .u-list-1 {
    width: 340px;
    margin-left: 0;
    margin-right: 0;
  }
}:root {
	--s4-dur : 0.7s;
	--s4-sc : 1.2;
}
* {
	margin : 0;
}
/*Section 1*/
h1.title-heading1 {
	font-family: 'Orbitron', sans-serif;
}
/*Section 2*/
.button-to-page div{
	pointer-events : none;
}
.button-to-page div div {
	transition: transform 0.2s, opacity 0.1s;
	pointer-events : auto;
}
.button-to-page > div:hover div:not(:hover) {
	opacity : 0.5;
}
.button-to-page > div:hover div:hover {
	transform : scale(1.1);
}
/*Section 3*/
.button-to-website > div div{
	transition : opacity 0.3s ease-in-out;
}
.button-to-website > div:hover div{
	opacity : 0.5;
}
.button-to-website > div div:hover {
	opacity : 1;
}
/*Section 4*/
.about-us-button > div > div{
	transition : transform var(--s4-dur);
}
.about-us-button > div > div:hover {
	transform : scale(1.15);
}
.contact-icon {
	opacity : 0;
	top : -50px;
	transition : opacity var(--s4-dur), top var(--s4-dur), transform 0.4s;
}
.contact-icon:hover {
	transform : scale(1.13);
}
.about-us-button > div > div:hover > div > div.contact-icon {
	opacity : 1;
	top : 0;
}